body, html {
  height: 100%;
  margin: 0%;
}

body {
  front-family: 'Microsoft YaHei';
  display: grid;
  grid-template-column: auto;
  grid-template-rows: auto; 
}

.resume {
  display: grid;
  grid-template-columns: auto 50%;
  height: auto;
  margin: 0 50px;
  align-self: center; 
}

ul li {
  display: grid;
  grid-template-columns: 20% auto; 
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transform: rotateY(-30deg) rotateX(15deg);
  position: absolute;
  border-bottom: 4px solid rgba(0,0,0,.2);
}

ul { 
  list-style-type: none;
  perspective: 1000px;
}

ul li:nth-child(1) {
  width: 500px;
  background: #bfe8fc;
  top: -105px;
  z-index: 2;
}

ul li:nth-child(2) {
  width: 500px;
  background: #faffc8;
  z-index: 2;
  mix-blend-mode: multiply;
}

ul li:nth-child(3) {
  width: 500px;
  background: #rgb(242,228,255);
  top: 105px;
  z-index: 2;
}

ul li:hover{
  transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
  transition: transform .4s ease-out;
  z-index: 3;
  mix-blenf-mode: normal;
}

img {
  width: 70px;
}

h1 {
  front-size: 3em;
  margin-top: 0;
}


